<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">E-Commerce App</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/products">Products</a>
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">

             <h1>Shopping Cart</h1>
                <p class="lead"> Welcome to Shopping Cart! <br> Jump right in and explore our many products. <br>
                    Feel free to add some of your own and comment on others!</p>
                <a  href="/products" class="btn btn-sm btn-secondary font-weight-bold  bg-black ">View
                    Products</a>
           
        </main>

        <footer class="mt-auto text-white-50">
            <p>All Right Reserved &copy; 2023</p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html> -->
% layout('layouts/boilerplate') -%>

<section class="container">


  <%- include('../partials/flash')  %> 
  
  <section id="heading"> 
    <h4 class="display-4"><i class="fab fa-shopify" style="margin-right: 20px;"></i>Shopping-Cart</h4>
  </section>
  <div class="row products">
      <%for(let product of products){%>
          <div class="col-lg-3 col-md-6 mb-3">
              <div class="card  mx-auto position-relative" style="width: 20rem;">
                  <img src="<%=product.img%>" class="card-img-top" alt="item image">
                  <span class="badge rounded-pill bg-light text-dark w-25 position-absolute translate-middle-y" style="top:41%;left:5%"><%=product.avgRating%>  &star; | <%=product.reviews.length%></span>
                  <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                      <span><%= product.name %></span>
                      <span class="btn like-button bg-light rounded-circle" product-id="<%=product._id%>" style="box-shadow:0px 1px 1px rgba(0,0,0,0.26)">
                        <% if(currentUser && currentUser.wishList.includes(product._id)){ %> 
                            <i class="fas fa-heart"></i>
                        <% }else {%>
                            <i class="far fa-heart"></i>
                        <% } %>  
                      </span>
                    </h5>
                    <p class="card-text fw-light"><%= product.desc%></p>
                    <% if(product.reviews.length){ %>
                      <p class="text-muted"><%=product.reviews.length%> reviews</p>
                    <%}else{%>
                      <p class="text-muted">No reviews</p>
                    <% } %> 
                    <h6 class="card-title"><span class="fw-lighter fs-6 text-decoration-line-through">Rs.<%= product.price*2 %></span> Rs.<%= product.price %> <span class="fw-light fs-6 text-warning">( 50 % OFF )</span> </h6>
                    <a href="/products/<%=product._id%>" class="btn btn-sm show-btn">Buy Now</a>
                  </div>
              </div>
          </div>
      <%}%>
  </div>
</section>


<script src="/js/common.js"></script>